name: Release

permissions:
  contents: write
  packages: write

on:
  release:
    types: [released]

jobs:
  release-binaries:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ubuntu-dependencies
      - name: Build the runtime and the node
        run: SKIP_PALLET_REVIVE_FIXTURES=1 cargo build --workspace --all-features --locked --profile production
        timeout-minutes: 90
      - name: Upload the binaries
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/production/zeta-node
            target/production/wbuild/zeta-runtime/zeta_runtime.compact.compressed.wasm
